body {
	margin: auto;
	width: 50%;
	margin-top: 5%;
	max-width: 800px;
	min-width: 480px;
}

h1 {
	text-align: center;
	border: dotted;
	font: bold;
}

button {
	box-shadow: 1px 3px 3px black;
	text-align: center;
	padding: 4px 10px;
}
.form {
	text-align: center;
}

.win {
	padding: 10px;
	text-align: center;
	background-color: green;
	font-size: 20px;
}

.lose {
	padding: 10px;
	text-align: center;
	background-color: red;
	font-size: 20px;
}

.restart {
	text-align: center;
}

.gameButtons {
	margin: 5px;
}

.gameTable {
	text-align: center;
}

.paragraph {
	font-size: 20px;
	text-align: center;
}